<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/assets/img/logo.png">
    <title>Amethyst | Apps</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://kit.fontawesome.com/be27c0ad9d.js" crossorigin="anonymous"></script>
    <script src="/assets/js/index.js" defer></script>
    <script src="/assets/js/apps.js" defer></script>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2631001674375882"
     crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- Navbar start -->
    <input type="checkbox" id="check">
    <label for="check">
      <i class="fa-solid fa-bars fa-2xl" id="btn"></i>
      <i class="fa-solid fa-bars fa-2xl" id="cancel"></i>
    </label>
    <div class="sidebar">
      <h2 class="nav-header">Amethyst</h2>
      <a href="/"><span>Home</span></a>
      <a href="/apps" class="active"><span>Apps</span></a>
      <a href="/gs"><span>Games</span></a>
      <a href="/credits"><span>Credits</span></a>
      <a href="/settings"><span>Settings</span></a>
    </div>
    <!-- Navbar end -->
    <div class="alignment-container-1">
      <div class="header-container">
        <h1 class="head">Apps</h1>
      </div>
      <div id="apps-container"></div>
    </div>
    </div>
    <iframe id="container" class="frame-container"></iframe>
    <script src="/uv/uv.bundle.js"></script>
    <script src="/uv/uv.config.js"></script>
  </body>
</html>