<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/assets/img/logo.png">
    <title>Amethyst</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://kit.fontawesome.com/be27c0ad9d.js" crossorigin="anonymous"></script>
    <script src="/assets/js/index.js" defer></script>
    <script src="/assets/js/go.js" defer></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2631001674375882"
     crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- Navbar start -->
    <input type="checkbox" id="check">
    <label for="check">
      <i class="fa-solid fa-bars fa-2xl" id="btn"></i>
      <i class="fa-solid fa-bars fa-2xl" id="cancel"></i>
    </label>
    <div class="sidebar">
      <h2 class="nav-header">Amethyst</h2>
      <a href="/" class="active"><span>Home</span></a>
      <a href="/apps"><span>Apps</span></a>
      <a href="/gs"><span>Games</span></a>
      <a href="/credits"><span>Credits</span></a>
      <a href="/settings"><span>Settings</span></a>
    </div>
    <!-- Navbar end -->
    
    <div class="alignment-container-1">
      <div class="header-container">
        <img src="/assets/img/logo.png" class="nav-logo"></img>
        <h1 class="head">Amethyst</h1>
      </div>
        <form id="searchform">
          <input autofocus autocomplete="off" class="search" id="search" placeholder="Search or Type URL"></input>
          <button type="submit" class="submit-button"><i class="fas fa-search searchicon"></i></button>
        </form>
    </div>
<!-- Homepage -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-2631001674375882"
     data-ad-slot="1145445841"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    <iframe id="container" class="frame-container"></iframe>
    <script src="/uv/uv.bundle.js"></script>
    <script src="/uv/uv.config.js"></script>
  </body>
</html>