<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>Amethyst | Settings</title>
    <link rel="icon" href="/assets/img/logo.png">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://kit.fontawesome.com/be27c0ad9d.js" crossorigin="anonymous"></script>
    <script src="/assets/js/index.js" defer></script>
    <script src="/assets/js/abc.js"></script>
    <script src="/assets/js/settings.js"></script>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2631001674375882"
     crossorigin="anonymous" defer></script>
  </head>
  <body>
        <!-- Navbar start -->
    <input type="checkbox" id="check">
    <label for="check">
      <i class="fa-solid fa-bars fa-2xl" id="btn"></i>
      <i class="fa-solid fa-bars fa-2xl" id="cancel"></i>
    </label>
    <div class="sidebar">
      <h2 class="nav-header">Amethyst</h2>
      <a href="/"><span>Home</span></a>
      <a href="/apps"><span>Apps</span></a>
      <a href="/gs"><span>Games</span></a>
      <a href="/credits"><span>Credits</span></a>
      <a href="/settings" class="active"><span>Settings</span></a>
    </div>
    <!-- Navbar end -->
    <div class="alignment-container-1">
       <h1 class="settings-head">Settings</h1>
            <h2 class="settings-head2">Proxy</h2>
            <button class="button" onClick="setPx('amethyst||px', 'Ultraviolet')">Ultraviolet</button>
            <button class="button" onClick="setPx('Corrosion')">Corrosion</button>
            <br>
            <br>
            <h2 class="settings-head2">Navbar</h2>
            <button class="button" onClick="alert('Not Finished!')">Top Bar</button>
            <button class="button" onClick="alert('Not Finished!')">Side Bar</button>
            <br>
            <br>
            <h2 class="settings-head2">about:blank cloaking</h2>
            <button class="button" onclick="goBlank()">Go about:blank</button>
            <br>
      <br>
      <h2 class="settings-head2">Browser</h2>
      <select class="browsers" id="browsers" onchange="changeSearch(this)">
        <option>DuckDuckGo</option>
        <option>Brave</option>
        <option>Google</option>
      </select>
    </div>
<!-- Settings -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2631001674375882"
     data-ad-slot="9211885542"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    <script src="/uv/uv.bundle.js"></script>
    <script src="/uv/uv.config.js"></script>
  </body>
</html>